.cluster-column img {
  width: 50%;
  max-width: 400px;
  float: left;
  padding: 5px 15px 5px 15px;
}

.cluster-row::after, .heatmap-row::after {
  content: "";
  clear: both;
  display: table;
}

.heatmap-column img {
  width: 50%;
  max-width: 500px;
  float: left;
  padding: 5px 15px 5px 15px;
}

#autoencoder img {
  width: 100%;
  max-width: 500px;
  float: right;
  position: relative;
  top: -45px;
  margin-left: 15px;
  margin-right: -20px;
  margin-bottom: -40px;
}

.preprocessing img {
  width: 100%;
  max-width: 1200px;
  display: block;
}

.preprocessing-cropped img {
  width: 100%;
  max-width: 600px;
  display: none;
}

.feature-extractors img {
  width: 100%;
  max-width: 850px;
}

.pca-scores img {
  width: 100%;
  max-width: 950px;
}

#bipartite {
  width: 200px;
  float: right;
  margin-left: 15px;
  margin-top: -45px;
  transition: 0.8s;
}

#benchmark-ari {
  max-width: 400px;
  width: 100%;
}

@media screen and (max-width: 1050px) {
  #autoencoder img {
    float: none;
    display: block;
    top: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 800px) {
  .heatmap-column img {
    float: none;
    width: 100%;
  }

  .preprocessing-cropped img {
    display: block;
  }

  .preprocessing img {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  #bipartite {
    margin-top: -10px;
  }
}
