.dataset-graph {
  width: 100%;
  max-width: 820px;
  height: 550px;
  overflow: hidden;
}

.dataset-graph-html {
  width: 110% !important;
  height: 100% !important;
  border: none;
  overflow: visible;
  left: -25px;
  top: -35px;
}

@media screen and (max-width: 880px) {
  .dataset-graph {
    height: 430px;
    width: 635px;
  }
}

@media screen and (max-width: 690px) {
  .dataset-graph {
    height: 330px;
    width: 470px;
  }
}
