.dataset-graph {
  width: 100%;
  max-width: 820px;
  height: 550px;
  overflow: hidden;
}

.dataset-graph-html {
  width: 100% !important;
  height: 100% !important;
  border: none;
  overflow: hidden;
  position: relative;
  left: -10px;
  top: -10px;
}

@media screen and (max-width: 840px) {
  .dataset-graph {
    height: 430px;
  }
}

@media screen and (max-width: 660px) {
  .dataset-graph {
    height: 330px;
  }
}
