input,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  all: unset;
  height: 100%;
  width: 98%;
  max-width: 750px;
  padding: 2px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, var(--purple), var(--lighterpurple));
  transition: background-color 5000s ease-in-out 0s;
  background-color: white;
}

input:hover,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
#dropdown-content {
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
}

::placeholder {
  color: grey;
  opacity: 0.7;
}

#graphform {
  position: relative;
  display: inline-block;
  width: 100%;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  max-width: 760px;
  width: 93%;
  border: 1px solid #ddd;
  max-height: 500px;
  overflow: auto;
  z-index: 1;
}

#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
  background-color: #ddd;
}

.link-option:hover {
  cursor: pointer;
}

.dropdown-category {
  font-weight: bold;
  font-size: 18px;
  background: -webkit-linear-gradient(var(--purple), var(--lighterpurple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#graph-wrapper {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

#graph-html {
  width: 100% !important;
  height: 100% !important;
  border: none;
}

#graph-finder {
  min-height: 650px;
}
