:root {
  --rotation_angle: 4deg;
}

@font-face {
  font-family: pineapple;
  src: url('../Assets/Fonts/pineapple/PineappleDemo.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: pineapple;
}

#profilepic {
  max-width: 50px;
  max-height: 50px;
  float: left;
	border-radius: 50%;
  transition: transform 1.5s;
}

#githublogo {
  max-width: 50px;
  max-height: 50px;
  float: right;
}

#username {
  font-size: 30px;
}

.header {
  overflow: hidden;
  background-image: linear-gradient(to right,#49CE14, #286F0B);
}

.header a {
  float: left;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  white-space: nowrap;
}

.navtext:hover, #profilepic:hover #header-github:hover {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  animation-duration: 2.5s;
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotation {
  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}

.header-left {
  float:left;
}

.header-right, #header-github {
  float: right;
}

.header-left:hover img, #header-github:hover img {
  transform: scale(1.1);
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 650px) {
  .header-right, .headerleft {
    float: left;
    text-align: center;
  }

  a.header-right, a.headerleft {
    display:inline;
  }



}
