:root {
  --pink: #743ad5;
  --purple: #d53a9d;
  --lightgreen: #49CE14;
  --darkgreen: #286F0B;

  --media_width: 650px;
}

/** Custom fonts **/
@font-face {
  font-family: pineapple;
  src: url('../Assets/Fonts/pineapple/PineappleDemo.ttf');
}

@font-face {
  font-family: lato;
  src: url('../Assets/Fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: lato-bold;
  src: url('../Assets/Fonts/Lato/Lato-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: lato;
}

h1, h2, h3 {
  font-family: lato-bold;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: red;
  box-shadow: inset 0 0 5px grey;
  background-image: linear-gradient(to top, var(--pink), var(--purple));
}
